.form-section {
  position: relative;
  background-image: url('./img/form-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;

  @include laptop {
    background: #ffffff;
  }
}

.form-section__img {
  display: none;
  width: 100%;
  margin-bottom: rem(50px);

  @include laptop {
    display: block;
  }

  @include phone {
    margin-bottom: rem(35px);
  }
}

.form-section__title {
  margin-bottom: rem(30px);
}

.form-section__subtitle {
  margin-bottom: rem(50px);
  font-size: rem(18px);

  @include laptop {
    text-align: center;
  }
}

.form-section__form {
  width: rem(470px);

  @include laptop {
    width: 100%;
  }
}