.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__input {
  width: 100%;
  padding-bottom: rem(10px);
  margin-bottom: rem(50px);
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.form__textarea {
  height: rem(100px);
  resize: none;
}

.form__button {
  width: rem(200px);

  @include phone {
    margin: 0 auto;
  }
}

.form__message {
  margin-top: rem(15px);
  font-size: rem(18px);
}