.header {
  padding-top: rem(20px);

  @include phone {
    padding-top: rem(10px);
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: rem(50px);
}

.header__phone {
  color: $main-text;
  transition: color .4s;

  &:hover {
    color: $main-color;

    .phone__icon {
      fill: $main-color;
    }
  }

  @include laptop {
    margin-right: rem(30px);
  }

  @include phone {
    margin-right: rem(15px);
  }
}
