.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: rem(20px);
}

.logo__text {
  width: rem(120px);
  font-size: rem(18px);
  font-weight: 400;
  
  @include tablet {
    display: none;
  }
}