.offer__title {
  max-width: rem(380px);
  margin-bottom: rem(50px);
}

.offer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem(-50px);

  @include desctop {
    justify-content: start;
  }
}

.offer__item {
  width: rem(350px);
  margin-right: rem(30px);
  margin-bottom: rem(50px);
}