.offer {
  padding: 70px 0;
}

.offer__title {
  max-width: 380px;
  margin-bottom: 50px;
}

.offer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.offer__item {
  width: 30%;
  margin-bottom: 50px;
}