.order__title {
  margin-bottom: 50px;
}

.order__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.order__item {
  width: 340px;
}

.order__map {
  width: 100%;
  height: 600px;
}