.phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
}

.phone__icon {
  width: rem(20px);
  height: rem(20px);
  margin-right: rem(10px);
  fill: $main-text;
  transition: fill .4s;
}