.reviews-slider .slick-list {
  margin-right: rem(-30px);
}

.reviews-slider__slide {
  margin-right: rem(30px);
}

.reviews-slider__box-shadow {
  margin: 0 5px 10px 5px;
  border-radius: rem(10px);
  box-shadow: 0px rem(10px) rem(10px) #FFE0DD;
  overflow: hidden;
}

.reviews-slider__img {
  width: 100%;
  // max-width: rem(370px);
}

.reviews-slider__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(10px);
}

.reviews-slider__prev {
  margin-right: rem(30px);
}

.reviews-slider__next {
  margin-left: rem(30px);
}