.slick-list {
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #FFE0DD;
}

.slick-track{
  display: flex;
  align-items: flex-start;
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li{
  margin-right: 15px;
}

.slick-dots li.slick-active button {
  background-color: $main-text;
  outline: none;
}

.slick-dots li button{
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #C4C4C4;
  border-radius: 50%;
  outline: none;
}