.step {
  display: flex;
  align-items: center;
}

.step__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: rem(30px);
  width: rem(100px);
  height: rem(100px);
  border-radius: rem(20px);

  &_green {
    background-color: #C3FFCD;
  }

  &_yellow {
    background-color: #FFF1CE;
  }

  &_bluefish {
    background-color: #A9FFF0;
  }

  &_blue {
    background-color: #A6BFFF;
  }

  &_pink {
    background-color: #FFCAF3;
  }

  &_red {
    background-color: #FFC9C9;
  }
}

.step__icon {
  display: flex;
  align-items: center;
  justify-content: start;
  width: rem(70px);
  height: rem(70px);

  &_green {
    fill: #347C40;
  }

  &_yellow {
    fill: #967F43;
  }

  &_bluefish {
    fill: #337E70;
  }

  &_blue {
    fill: #3C579B;
  }

  &_pink {
    fill: #A75193;
  }

  &_red {
    fill: #B93737;
  }
}

.step__desc {
  flex: 1;
}

.step__title {
  margin-bottom: rem(10px);
  font-size: rem(18px);
  font-weight: 800;
}